<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Zendesk Bundle</title>

</head>
<body>
<div>
    {% block dlin_zendesk_content %}

    {% endblock dlin_zendesk_content %}
</div>
</body>
</html>